<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Burger Eater - All you can eat!</title>
	<link rel="stylesheet" href="assets/css/reset.css" />
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css" />
	<script type="text/javascript" src="assets/js/javascript.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>